.content-detect{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.heading{
    font-size: 4em;
    text-align: center;
}
#input{
    width: 100%;
    font-size: 2em;
    height: 50px;
    border-radius: 5px;
}
#button{
    display: block;
    text-decoration: none   ;
    width: 115px;
    height: 25px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    line-height: 25px;
    color: white;
    background-color : #4caf50;
    border : 0px solid rgba(252, 252, 252, 0);
    -webkit-transition : border 200ms ease-out;
    -moz-transition : border 200ms ease-out;
    -o-transition : border 200ms ease-out;
    transition : border 200ms ease-out;
}
#button:hover{
    border : 2px solid black; 
}

.labels{
    display: table;
    padding-bottom: 15px;
}
.label, .shop, .shipper, .sp{
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #ffffff00;
}
.label:hover, .shop:hover, .shipper:hover, .sp:hover{
    border-color: #4caf50; 
}
.active, .activeshop, .activeshipper, .activesp{
    background-color: #4caf50;
}
