.navbar {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 59px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.navbar a {
    color: #000000;
    text-align: left;
    text-decoration: none;
    padding: 0px 30px;
}

.navbar a:hover {
    color: rgb(255, 0, 0);
}