{% load static %}
<html>
    <head>
        <meta charset="UTF8">
        <title>{% block title %} {% endblock %}</title>
        <link rel="icon" href="{% static 'assets/logo.png' %}" type="image/x-icon">
        <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% block static %} {% endblock %}
    </head>
    <body>
        <!-- Top Nav -->
        <div class="row">
            <div class="leftcolumn">
                <img src="{% static 'assets/chatbot.png' %}" width="59" height="59">
            </div>
            <div class="rightcolumn">
                <div class="navbar">
                    <a href="{% url 'cmt_detect' %}">Cmt Classification</a>
                    <a href="{% url 'chatBot' %}">Chat Bot</a>
                    <a href="{% url 'aboutUs' %}">About Us</a>
                    <a href="{% url 'aboutProject' %}">About Project</a>
                    <a></a>
                </div>
            </div>
        </div>
        {% block content %} {% endblock %}
    </body>
</html>